@page
@model animeNewsProject.Pages.NewsModel

<p></p>
<p></p>
<p></p>
<div class="article-box">
    @if (Model.Article != null)
    {
        <h2 class="article-title">@Model.Article.Title</h2>

        <!-- Display the image -->
        @if (!string.IsNullOrEmpty(Model.Article.Image))
        {
            <img src="@Model.Article.Image" alt="Article Image" class="card-image">
        }
        else
        {
            <img src="/images/default.png" alt="Placeholder Image" class="card-image">
        }

        <p class="article-text">@Model.Article.Text</p>
        <div class="article-info">
            <p>Category: @Model.Article.Category</p>
            <p>Date Published: @Model.Article.DatePublished</p>
            <p>Rating: @Model.Article.Rating</p>
            <p>Views: @Model.Article.Views</p>
        </div>

        <div class="article-actions">
            <div class="button-container">
                <a href="~/edit?id=@Model.Article.DocumentId" class="button button-primary">Edit</a>
                <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Article.DocumentId">
                    <button type="submit" class="button button-danger">Delete</button>
                </form>

                <!-- Add rating button -->
                <form method="post" asp-page-handler="Rate" class="rating-button">
                    <input type="hidden" name="id" value="@Model.Article.DocumentId" />
                    <button type="submit" class="button button-primary">Rate</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <p>Article not found.</p>
    }
</div>